<h1> Edit a Snippet</h1>
<h2><%= @snippet.title %></h2>
<form method="POST" action="/snippets/<%= @snippet.id %>">
    <input type="hidden" id="hidden" name="_method" value="PATCH">

    <p><label for="brief" >Description: <br><textarea   name="brief" ><%= @snippet.brief %></textarea></label></p>

    <p><label for="chart">Chart filename: <br><input type="text" name="chart" id="chart" value="<%= @snippet.chart %>"></label></p>

    <p><label for="audio">Audio filename: <br><input type="text" name="audio" id="audio" value="<%= @snippet.audio %>"></label></p>

    <p><label for="lyrics" >Lyrics: <br><textarea   name="lyrics" ><%= @snippet.lyrics %></textarea></label></p>
    
    <input type="submit" value="submit">
</form>