<% if session[:temp_errors] %>
        <% session[:temp_errors].each do |msg| %>
            <p style="color: red;"><%= msg %></p>
        <% end %>
        <% session[:temp_errors] = nil %>
<% end %>

<h2><%= @snippet.title %> </h2>

<p><h4>&nbsp;&nbsp;&nbsp;&nbsp;By: <%= @snippet.user.username %> </h4></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;<%= @snippet.brief %></p>
<% if @snippet.chart && !@snippet.chart.empty? %>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Sheet Music:</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/sheet-music/<%= @snippet.chart %>" alt="alttext"></p>
<% end %>

<% if @snippet.audio && !@snippet.audio.empty? %>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Audio:</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;<%= @snippet.audio %></p>
<% end %>

<% if @snippet.lyrics && !@snippet.lyrics.empty? %>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Lyrics:</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;<%= @snippet.lyrics %></p>
<% end %>

<% if @snippet.user.username == @current_user.username %> 
    <form action="/snippets/<%= @snippet.id %>" method="post">
        <input type="hidden" id="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Snippet">
    </form>

    <form action="/snippets/<%= @snippet.id %>/edit" method="get">
        
        <input type="submit" value="Edit Snippet">
    </form>
<% else %>
    <p><h4><a href="/messagesuccess">Message <%= @snippet.user.username %> to collaborate.</a></h4></p>
<% end %>

