<h2>SNIPPETS:</h2>

<h4>Welcome, <%= @user.username %>!</h4>

<% if @user.snippets.empty? %>
    <h4>You have no snippets. Click the link above to create one!</h4>
<% end %>

<% @user.snippets.reverse_each do |s| %>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/snippets/<%= s.id %>"><%= s.title %></a></p>
        
        <p>&nbsp;&nbsp;&nbsp;&nbsp;<%= s.brief %></p>
        <% if s.chart && !s.chart.empty? %>
        <p><h4>&nbsp;&nbsp;&nbsp;&nbsp;Sheet Music:</h4></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/sheet-music/<%= s.chart %>" alt="alttext"></p>
        <% end %>

        <% if s.audio && !s.audio.empty? %>
        <p><h4>&nbsp;&nbsp;&nbsp;&nbsp;Audio:</h4></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;<%= s.audio %></p>
        <% end %>

        <% if s.lyrics && !s.lyrics.empty? %>
        <p><h4>&nbsp;&nbsp;&nbsp;&nbsp;Lyrics:</h4></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;<%= s.lyrics %></p>
        <% end %>
<% end %>